<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paris Sweet Patisserie - Events</title>
    <link rel="stylesheet" href="../css/viewereventpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    
     <!-- Include the Navbar -->
     <%- include('../partials/navbar') %>

    <!-- Event Section -->
    <h1 class="header">Upcoming Events</h1>
    <div class="event-container">
        
        <% events.forEach(function(event) { %>
            <div class="event-item">
                <img src="<%= event.Eventimage %>" alt="<%= event.title %>" class="event-image">
                <h3><%= event.EventName %></h3>
                <p><strong>Date:</strong> <%= event.EventDate %></p>
                <p><strong>Time:</strong> <%= event.EventTime %></p>
                <p><strong>Description:</strong> <%= event.EventDescription %></p>
            </div>
        <% }); %>

    </div>
    <!-- Footer Section -->
    <%- include('../partials/footer') %>
</body>
</html>
